<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        [routerLink]="['/articles/new']">
        <mat-icon>create_new_folder</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        [routerLink]="['/articles']">
        <mat-icon>insert_drive_file</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/auth/login']" *ngIf="!isAuthenticated;else notAuthenticated">
            <mat-icon>person</mat-icon>
            <span>Login</span>
        </button>
        <ng-template #notAuthenticated>
            <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </ng-template>

    </mat-menu>
</mat-toolbar>